*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
}
hr {
    /* border: .5px solid rgba(147, 37, 37, 0.9); */
    margin: 1% 15%;
}

#items-draggables{
    width: 50%;
    height: 50%;
    border: 1px solid white;
    margin: 0 4px 0 4px;
    padding: 0.5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    place-items: center;
  }
  
  draggable-element{
    text-align: left; 
    border: 1px solid red;
    cursor: move;
  }

  /* montserrat-latin-wght-normal */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }