:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
  border: 1px solid black;
  height: 15%;
}

#app {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dragend {
  width: 50%;
  height: 50%;
  border: 1px solid white;
  margin: 0 4px 0 4px;
}

#items-draggables{
  width: 50%;
  height: 50%;
  border: 1px solid white;
  margin: 0 4px 0 4px;
  padding: 0.5%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  place-items: center;
}

draggable-element{
  text-align: left; 
  border: 1px solid red;
  cursor: move;
}
